/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* .light-tooltip {
    background: rgb(162, 162, 255) !important;
    color: black !important;
    padding: 0px !important;
  } */
