<span style="width: 100%; display: flex; justify-content: center !important; color: white; margin-bottom: 10px; font-size: 22px; margin-top: 40px;">Projetos</span>
<hr style="background: white; height: 2px; width: 30%; border-radius: 10px;">
<div class="abas-container">
    <div class="aba" [ngClass]="{'aba-active' : manage == true}" (click)="manage = true; register = false">
        <span class="iconify" data-icon="material-symbols:manage-search" style="font-size: 25px; margin-right: 10px;"></span>
        <span>Gerenciar</span>
    </div>
    <div class="aba" [ngClass]="{'aba-active' : register == true}" (click)="manage = false; register = true">
        <span class="iconify" data-icon="mdi:register" style="font-size: 25px; margin-right: 10px;"></span>
        <span>Cadastrar</span>
    </div>
</div>
<div class="big-container">
    <div class="form-container animate__animated animate__fadeInDown" *ngIf="register">
        <div class="form-card">
            <span class="card-title">Nome da pessoa:</span>
            <input [formControl]="name" class="text" type="text">
        </div>
        <div class="form-card">
            <span class="card-title">E-mail da pessoa:</span>
            <input [formControl]="email" class="text" type="text">
        </div>
        <div class="form-card">
            <span class="card-title">Formação acadêmica:</span>
            <input [formControl]="formation" class="text" type="text">
        </div>
        <div class="form-card">
            <span class="card-title">Data de início:</span>
            <input [formControl]="start_date" class="text" type="date">
        </div>
        <div class="form-card">
            <span class="card-title">Data final:</span>
            <input [formControl]="end_date" class="text" type="date">
        </div>
        <div class="form-card">
            <span class="card-title">Projetos que participa:</span>
            <mat-form-field>
                <mat-label>Projetos</mat-label>
                <mat-select multiple [formControl]="projects">
                  <mat-option *ngFor="let project of projectsList" [value]="project.id">{{project.nome}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-card error-border">
            <div class="warning" style="width: 100%;display: flex;align-items: center;justify-content: flex-end;">
                <span class="iconify" data-icon="ph:warning-fill"></span>
                <span>Erro: Preencha os campos obrigatórios.</span>
            </div>
            <div style="width: 100%;display: flex;align-items: flex-end;justify-content: flex-end;height: 100%;">
                <div class="button" style="background: rgb(162, 162, 255);" (click)="save()">Salvar</div>
                <div class="button" style="background: rgb(247, 77, 77);" (click)="clear()">Limpar</div>
            </div>
        </div>
    </div>

    <div class="cards-container" *ngIf="manage">
        <div class="person-card animate__animated animate__flipInY" *ngFor="let i of [1,2,3,4,5,6,7,8]">
            <div class="options" (click)="showOptions = !showOptions">
                <span class="iconify" data-icon="simple-line-icons:options-vertical"></span>
            </div>
            <div class="options-modal animate__animated animate__rotateInDownRight" *ngIf="showOptions">
                <div (click)="editRegister($event)" class="modal-opt"> <span class="iconify" data-icon="mdi:pencil"></span> <span>Editar</span>  </div>
                <div class="modal-opt"> <span class="iconify" data-icon="mdi:trash"></span> <span>Excluir</span> </div>
            </div>
            <span class="iconify person-icon" data-icon="ic:baseline-work"></span>
            <hr style="background: white; height: 2px; width: 50%; border-radius: 29%;">
            <span class="name">Lucas Gonçalves Bessegato</span>
            <div class="banner not-projects">0 pessoas vinculados</div>
        </div>
        <div class="person-card animate__animated animate__flipInY" >
            <div class="options" (click)="showOptions = true">
                <span class="iconify" data-icon="simple-line-icons:options-vertical"></span>
            </div>
            <div class="options-modal animate__animated animate__flipInY" *ngIf="showOptions">
                <div class="modal-opt"> <span class="iconify" data-icon="mdi:pencil"></span> <span>Editar</span>  </div>
                <div class="modal-opt"> <span class="iconify" data-icon="mdi:trash"></span> <span>Excluir</span> </div>
            </div>
            <span class="iconify person-icon" data-icon="ic:baseline-work"></span>
            <hr style="background: white; height: 2px; width: 50%; border-radius: 29%;">
            <span class="name">Walter White</span>
            <div class="banner has-projects">2 pessoas vinculados</div>
        </div>
    </div>
    
</div>
<div class="edit-modal-container" *ngIf="editModal" (click)="closeEditModal()">
    <div class="edit-modal animate__animated animate__fadeInDown" (click)="stopPropagation($event)">
        <span style="width: 100%; display: flex; justify-self: flex-start !important; color: white; margin-bottom: 10px; font-size: 17px; margin-top: 10px; margin-left: 10px;">Editar pessoa</span>
        <div style="height: 100%; max-height: 100%; overflow-y: auto; width: 100%">
            <div class="form-container" style="width: 100% !important;">
                <div class="form-card">
                    <span class="card-title">Nome da pessoa:</span>
                    <input [formControl]="name" class="text" type="text">
                </div>
                <div class="form-card">
                    <span class="card-title">E-mail da pessoa:</span>
                    <input [formControl]="email" class="text" type="text">
                </div>
                <div class="form-card">
                    <span class="card-title">Formação acadêmica:</span>
                    <input [formControl]="formation" class="text" type="text">
                </div>
                <div class="form-card">
                    <span class="card-title">Data de início:</span>
                    <input [formControl]="start_date" class="text" type="date">
                </div>
                <div class="form-card">
                    <span class="card-title">Data final:</span>
                    <input [formControl]="end_date" class="text" type="date">
                </div>
                <div class="form-card">
                    <span class="card-title">Projetos que participa:</span>
                    <mat-form-field>
                        <mat-label>Projetos</mat-label>
                        <mat-select multiple [formControl]="projects">
                          <mat-option *ngFor="let project of projectsList" [value]="project.id">{{project.nome}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="form-card">
                    <div style="width: 100%;display: flex;align-items: flex-end;justify-content: flex-end;height: 100%;">
                        <div class="button" style="background: rgb(162, 162, 255);" (click)="save()">Salvar</div>
                        <div class="button" style="background: rgb(247, 77, 77);" (click)="clear()">Limpar</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

