<div class="container">
    <div class="card">
        <div class="face face1">
            <div class="content">
                <span class="iconify" data-icon="ic:outline-people-alt"></span>
                <h3>Pessoas</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Gerencie o cadastro de pessoas no sistema, assim como edição, visualização e exclusão.</p>
                    <a href="pessoa">Gerenciar Pessoas</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <span class="iconify" data-icon="healthicons:i-training-class"></span>
                <h3>Projetos</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Gerencie o cadastro de projetos no sistema, assim como edição, visualização e exclusão.</p>
                    <a href="#">Gerenciar Projetos</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="face face1">
            <div class="content">
                <span class="iconify" data-icon="mdi:coffee-maker-done"></span>
                <h3>Resultados</h3>
            </div>
        </div>
        <div class="face face2">
            <div class="content">
                <p>Gerencie o cadastro de resultados no sistema, assim como edição, visualização e exclusão.</p>
                    <a href="#">Gerenciar Resultados</a>
            </div>
        </div>
    </div>
</div>
