<!-- <div class="cards">
    <div class="card"></div>
    <div class="card"></div>
    <div class="card"></div>
</div> -->

<div class="container">
    <div class="panel">
      <div class="ring">
        <div class="card card1"></div>
        <div class="border">
          <p class="title">Pessoas</p>
          <div class="slide">
            <h6 class="para">Gerencie pessoas</h6>
            <div class="line">
              <h6 class="para">Cadastro</h6> <i class="fa fa-plane" aria-hidden="true"></i>
            </div>
            <div class="line">
                <h6 class="para">Atualização</h6>
            </div>
            <div class="line">
                <h6 class="para">Visualização</h6> <i class="fa fa-plane" aria-hidden="true"></i>
            </div>
            <div class="line">
                <h6 class="para">Remoção</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="ring">
        <div class="card card2"></div>
        <div class="border">
            <p class="title">Projetos</p>
            <div class="slide">
              <h6 class="para">Gerencie projetos</h6>
              <div class="line">
                <h6 class="para">Cadastro</h6> <i class="fa fa-plane" aria-hidden="true"></i>
              </div>
              <div class="line">
                  <h6 class="para">Atualização</h6>
              </div>
              <div class="line">
                  <h6 class="para">Visualização</h6> <i class="fa fa-plane" aria-hidden="true"></i>
              </div>
              <div class="line">
                  <h6 class="para">Remoção</h6>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="ring">
        <div class="card card3"></div>
        <div class="border">
            <p class="title">Resultados</p>
            <div class="slide">
              <h6 class="para">Gerencie Resultados</h6>
              <div class="line">
                <h6 class="para">Cadastro</h6> <i class="fa fa-plane" aria-hidden="true"></i>
              </div>
              <div class="line">
                  <h6 class="para">Atualização</h6>
              </div>
              <div class="line">
                  <h6 class="para">Visualização</h6> <i class="fa fa-plane" aria-hidden="true"></i>
              </div>
              <div class="line">
                  <h6 class="para">Remoção</h6>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
